<!DOCTYPE html>
<html>
  <head>
    <title>Spritle DevOps - SampleRails6App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
